.rm_wrap{
	width:660px;
	}
.rm_wrap a{
	text-decoration: none;
	}
.rm_section{
	border:1px solid #ddd;
	height:100%;
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
	}
.rm_opts label{
	font-size:12px;
	font-weight:bold;
	width:200px;
	display:block;
	float:left
	}
.rm_input{
	padding:20px 10px;
	}
.rm_opts small{	
	display:block;
	padding:4px;
	width:630px;
	font-size:12px;
	color:#666;
	line-height:20px
	}
.rm_opts input [ type = "text" ],.rm_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:20px;
	background:#fff
	}
.rm_input input:focus,.rm_input textarea:focus{
	background:#f2f2f2;
	}
#swt_rsssub,#swt_search_link,#swt_search_ID,#swt_link_s,#swt_shops{
	border:1px solid #dadada;
	width:280px;
	padding:2px;
	}
.rm_input textarea{
	width:300px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:20px;
	background:#fff
	}
.rm_title h3{
	cursor:pointer;
	font-size:14px;
	text-transform:uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px
	}
.rm_title{
	cursor:pointer;
	border-bottom:1px solid #dadada;
	padding:0;
	height:50px
	}
.rm_title h3 img.inactive{
	margin:-1px 10px 0 2px;
	width:19px;
	height:17px;
	background:url(collapse.png) no-repeat 0 0;
	float:left
	}
.rm_title h3 img.active{
	margin:-1px 10px 0 2px;
	width:19px;
	height:19px;
	background:url(collapse.png) no-repeat 0 -19px;
	float:left
	}
.rm_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0
	}
.clearfix{
	clear:both
	}
.rm_table th,.rm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center
	}
.rm_table th,.rm_table td.feature{
	border-color:#888
	}
.wp-admin select {
    height: 28px;
	}
.show_id{
	display:block;
	width:150px;
	height:400px;
	margin-right:-500px;
	position:fixed;
	right:50%;
	top:15%;
	line-height:14px;
	padding:10px;
	list-style:square inside;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
    overFlow-y: scroll ;
    overFlow-x: hidden ;
	}
.show_id h4{
	margin:5px 0 0 0
	}