/* ADMIN PANEL STYLES */
.wrap h2 {
	width:50%;
	padding: 10px 0px 16px 55px;
	line-height: 30px;
	}
.settings-icon{
	width: 45px;	
	height: 35px;
	float: left;
	margin-top: 10px;	
	background: url(/wordpress/wp-admin/images/icons32.png) -485px -5px;
	}
.ss_wrap {
	width:712px;
	}
.tabs {
	margin: 0px;
	padding-right: 0px;
	list-style: none;
	position: relative;
	height: 30px;
	z-index: 10;
	border-bottom:1px solid #C9C9C9;		
	}
.tabs li {
	float:left; 
	margin:0px 3px 0px 0px;
	}
.tabs li a {
	display:inline-block; 
	color:#333; 
	font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	font-weight:bold;
	line-height:25px;
	background:#ECECEC; 
	padding: 0px 15px;
	border:1px solid #ECECEC;
	text-decoration:none; 
	text-shadow:0px 1px 0px rgba(255,255,255,0.7); 
	}
.tabs li a:hover {
	color:#000; 
	background:#E5E5E5; 
	border-color:#E5E5E5; 
	text-decoration:none;
	}
.tabs li.active a {
	position:relative;
	z-index: 10;
	color:#4C7D08;
	margin-top:-3px;
	padding:3px 15px 5px;
	background:#fff; 
	text-decoration:none; 	
	border-top:1px solid #4C7D08;
	border-right:1px solid #C9C9C9;
	border-left:1px solid #C9C9C9;
	border-bottom:none;
	}
.tabbed{
	width: 710px;
	position:relative; 
	float:none;
	overflow:hidden ;
	margin:0px 0px 16px;
	padding:0px; 
	border:1px solid #C9C9C9;
	border-top:none;
	}
.item_row {
	position:relative; 
	overflow:hidden; 
	clear:both; 
	margin:0px 10px 0px 15px; 
	padding:18px 0px 12px;  
	border-top:1px dotted #E5E5E5; 
	width:auto;
	}
.subheading {
	font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	font-weight:bold;
	line-height: 25px;
	margin:18px 0px;
	text-indent:15px;
	background:#F7F7F7;
	}
.item_row li {
	position:relative; 
	overflow:hidden; 
	float:left; 
	margin-right:16px;
	}
.item_row li.left_col {
	width:160px;
	font-size:12px;
	}
.item_row li.mid_col {
	width:265px;
	font-size:12px;
	}
.item_row li.right_col {
	width:220px; 
	font-size:11px; 
	margin-right:0px;
	}
.item_row input[type="text"], select {
	float:left;
	width:260px;
	font-size:12px;	
	padding:5px 4px;
	}	 
.item_row small {
	font-size:11px;
	color:#666;
	}	
.item_row textarea {
	width:260px;
	}
.item_row input.mycolor {
	width:225px; 
	font-size:12px; 
	margin-right:8px; 
	padding:5px 4px; 
	border:1px solid #dfdfdf; 
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	-khtml-border-radius:4px;
	} 
.picker_ico {
	float:left;
	width:25px; 
	height:25px; 
	position:relative;
	top:1px;
	border:1px solid #ccc;
	border-color:#ccc #eee #eee #ccc;
	background:#fafafa; 
	-webkit-border-radius:4px; 
	-moz-border-radius:4px; 
	border-radius:4px ;
	}		  
.picker_ico div {
	width: 13px; 
	height:13px; 
	border:1px solid #bbb; 
	border-color:#eee #ccc #ccc #eee; 
	background:none; 
	position: absolute; 
	left:5px; 
	top:5px; 
	box-shadow:1px 1px 0px #ccc; 
	-webkit-box-shadow:1px 1px 0px #ccc; 
	-moz-box-shadow: 1px 1px 0px #ccc;
	}			
p.submit {
	float:left;
	margin:10px 0px 13px;
	padding:0px;
	}
p.submit input {
	padding:5px 13px 3px;
	float:none;
	}
.wrap .updated{
	width:696px;
	border-radius:0px;
	}
	
#message{
	border:1px dashed #4C7D08;
	}

.wp_cats_id {
	width: 150px;
	display: block;
	margin-left: 728px;
	padding: 10px;
	list-style: square inside;
	border: 1px solid #C9C9C9;
	position: fixed;
	left: 15%;
	top: 16%;
	}
.wp_cats_id h3{
	margin: 0px 0 8px;
	padding-bottom: 8px;
	border-bottom:1px dotted #C9C9C9 
	}
.wp_cats_id .cat_name{
	width:80px;
	max-width:120px;
	display:inline-block;
	overflow: hidden;
	}